{% extends "tasks/base.html" %}

{% block content %}

        <div class="header-bar">
            <div class="">
                <h1>Hello {{ request.user.username|title }}</h1>
                <h3 style="margin:0">You have <i>{{ count }}</i> incomplete task{{ count|pluralize:"s" }}</h3>
            </div>

            {% if request.user.is_authenticated %}
                <a href="logout/">Logout</a>
            {% else %}
                <a href="login/">Login</a>
            {% endif %}
        </div>
        
        <div id="search-add-wrapper">
            <form method="GET" style="margin-top: 20px; display: flex;">
                <input type="text" name="search-area" value="{{ search_input }}">
                <input class="button" type="submit" value="Search">
            </form>
            <a id="add-link" href="{% url 'create task' %}">&#x2b;</a>
        </div>
        
        

        <div class="task-items-wrapper">
            {% for task in tasks %}
                <div class="task-wrapper">
                    {% if task.status %}
                        <div class="task-title">
                            <a href="{% url 'complete task' task.id %}"><div class="task-complete-icon"></div></a>
                            <i><s><a href="{% url 'update task' task.id %}">{{ task }}</a></s></i>
                        </div>
                        <a class="delete-link" href="{% url 'delete task' task.id %}">&#215;</a>
                    {% else %}
                        <div class="task-title">
                            <a href="{% url 'complete task' task.id %}"><div class="task-incomplete-icon"></div></a>
                            <a href="{% url 'update task' task.id %}">{{ task }}</a>    
                        </div>
                        <a class="delete-link" href="{% url 'delete task' task.id %}">&#215;</a>
                    {% endif %}
                    
                   

                </div>

                
            {% empty %}
                <h3>No items in list</h3>
            {% endfor %}
        </div>
        
<!--             
                <div class="item-row">
                    <a href="">Detail</a>
                   <a href="">Update</a>
                

                    {% if task.status == True %}
                        <span style="margin: 20px"><strike >{{ task.title }}</strike></span>
                    {% else %}
                        <span style="margin: 20px">{{ task.title }}</span>
                    {% endif %}
                </div> -->
            
        
{% endblock %}            


